<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
        <compilation debug="false"  />
<customErrors mode="Off"/>
    

    </system.web>
  <connectionStrings>
    <add name="constr" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=sanjay;Data Source=SANJAY-HP" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>
