<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
        <compilation debug="false"  />
<customErrors mode="Off"/>
    

    </system.web>
  <connectionStrings>
    <add name="constr" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=sanjay;Data Source=SANJAY-HP" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<publishData><publishProfile profileName="psgtuts - Web Deploy" publishMethod="MSDeploy" publishUrl="psgtuts.scm.azurewebsites.net:443" msdeploySite="psgtuts" userName="$psgtuts" userPWD="LHgXAGbuatc7vGJ4LW1A4kFK1ifKgqK6eXzdRGjxQF81uaQJ17b16jb2lJRw" destinationAppUrl="http://psgtuts.azurewebsites.net" SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com" webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="psgtuts - FTP" publishMethod="FTP" publishUrl="ftp://waws-prod-sg1-001.ftp.azurewebsites.windows.net/site/wwwroot" ftpPassiveMode="True" userName="psgtuts\$psgtuts" userPWD="LHgXAGbuatc7vGJ4LW1A4kFK1ifKgqK6eXzdRGjxQF81uaQJ17b16jb2lJRw" destinationAppUrl="http://psgtuts.azurewebsites.net" SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com" webSystem="WebSites"><databases /></publishProfile></publishData>
</configuration>
